{% extends 'base.html' %}

{% block content %}
<main>
    <div class="container mt-5 pt-4">
        <div class="table-responsive text-nowrap">
          <h2>Order Summary</h2>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Item title</th>
                  <th scope="col">Price</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Total item price</th>
                </tr>
              </thead>
              <tbody>
                {% for order_item in object.item.all %}
                <tr>
                  <th scope="row">1</th>
                  <td>{{ order_item.item.title }}</td>
                  <td>{{ order_item.item.price }}</td>
                  <td><a href="{% url 'src:remove-single-item-from-cart' order_item.item.slug %}"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-dash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M3.5 8a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.5-.5z"/>
                    </svg></a>{{ order_item.quantity }}<a href="{% url 'src:add-to-cart' order_item.item.slug %}"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
                      <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
                      </svg></a></td>
                  <td>
                    {% if order_item.item.discount %}
                      ${{ order_item.get_discount_price }}
                      Saving(${{order_item.get_amount_save }})
                    {% else %}
                      ${{ order_item.get_total_amount }} 
                    {% endif %}
                  </td>
                  <td>
                    <a href="{% url 'src:remove-from-cart' order_item.item.slug %}"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                      <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg></a>
                  </td>
                </tr>
                {% empty %}
                <tr>
                  <td>Your Cart is empty</td>
                </tr>
                <tr>
                  <td colspan="5">
                    <a class="btn btn-default float-right ml-2" href="/">Continue shopping</a>
                  </td>
                </tr>  
                {% endfor %}
                <tr>
                  {% if object.coupon %}
                  <td colspan="4"><b>Coupon</b></td>
                  <td>
                    <b>-${{ object.coupon.amount }}</b>
                  </td>
                  {% endif %}
                </tr>
                <tr>
                  {% if object.get_total %}
                  <td colspan="4"><b>Order Total:</b></td>
                  <td>
                    <b>${{ object.get_total }}</b>
                  </td>
                </tr>
                <tr>
                  <td colspan="5">
                    <a class="btn btn-default btn-sm float-right ml-2" href="/">Continue shopping</a>
                    <a class="btn btn-primary btn-sm float-right" href="{% url 'src:checkout' %}">Proceed to checkout</a>
                  </td>
                </tr>  
                {% endif %}            
              </tbody>
            </table>
          
          </div>
    </div>
</main>
{% endblock content %}

